.miniatures {
    min-width: 100px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    margin-left: 3vh;
}

.miniatures:first-of-type {
    margin-left: 1px;
}

.miniatures:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

#board {
    margin-right: 5vh;
    margin-left: 5vh;
    background-color: var(--palete1-primary);
    font-weight: bolder;
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid var(--palete1-letters-emphasis);

    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.board-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2vh 2vh 2vh 2vh;
    gap: 10px;
    background: var(--palete1-secondary);
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    min-height: 50px;
}

.board-item:nth-child(odd) {
    background-color: var(--palete1-terciary);
}

.board-item button {
    background-color: var(--palete1-cuaternary);
    min-height: 6vh;
    max-width: 20vh;
    justify-self: end;
    margin-right: 4vh;
    color: var(--palete1-letters-emphasis);
}

.board-sliced {
    background-color: transparent;
    padding: 0;
    gap: 0;
    grid-template-columns: 8fr 1fr;
}

.board-sliced:nth-child(odd) {
    background-color: transparent;
}

.board-sliced button {
    border-radius: 5px;
    background-color: var();
    margin-right: 2vh;
    min-height: 75%;
    min-width: 20vh;
}